.Companys{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 30px;
}
.Company-icon{
    border-radius: 50px;
    height: 20px;
    width: 20px;
}
@media (max-width:995px) {
    .Companys{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 13px;
        justify-content: center;
    }
}